<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->

    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4 aboutmeheading">&nbsp;<%= title %> Me</h1>
        <div class="container">
          <div class="row">
            <div class="col-4">

              <!-- My image  -->
              <img src="Assets/images/Photo.jpg" alt="Photo" class="photo-image">

              <!-- Name below my image -->
              <p><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indrajith Ram Loganathan</b></i></p>
            </div>
            <div class="col-8 about me" style="text-align: left;">

              <!-- Text next to my image -->
              <p>&#x2022; An energetic, team-oriented Senior Software Test Engineer with 5.7 years of experience in
                Software Testing,
                having experience in automation using Selenium web-driver with Java on TestNG and Junit library.
                I've Designed and implemented automation frameworks from scratch like Page and I've exposure to
                Page Object Model and Data Driven framework.
              </p>

              <a href="Assets/pdf/Indrajith Ram.pdf" download="Indrajith Ram.pdf">My Resume</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>