<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->

    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4 text-center">My <%= title %>
        </h1>
        <div class="container services-style">
          <!-- Adding Images and text for the list of services -->

          <div>
            <img src="Assets/images/Automation.jpg" alt="Photo" class="photo-image-Auto">
            <p><b>Automation Testing</b></p>
          </div>

          <div>
            <img src="Assets/images/Manual Testing.jfif" alt="Photo" class="photo-image-Auto">
            <p><b>Manual Testing</b></p>
          </div>

          <div>
            <img src="Assets/images/Web App Development.png" alt="Photo" class="photo-image-Auto">
            <p><b>Web App Development</b></p>
          </div>

        </div>
      </div>
    </main>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>