<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->


    <main class="container">
      <div class="jumbotron">
        <div class="d-flex flex-md-row flex-column mt-5 justify-content-center">
          <div class="flex-grow-1 w-md-100" style="max-width: 560px">
            <div class="weltxtframe">
              <h1 class="display-10 text-center welcometext">Welcome to the <%= title %> Page</h1>
            </div>
            <div class="project-style hometxtbg">
              <!-- Home page text and links -->
              <p class="hometxt display-8 ">Hi! I'm Indrajith Ram an energitic and passionate programmer.Having
                experience for about 6 years in different technologies in testing domain.Please click on the
                below
                links to know more</p>
            </div>

            <div>
              <a class="link" href="/about">To know about me</a>
            </div>
            <div>
              <a class="link" href="/projects">To know more about the projects</a>
            </div>
          </div>
        </div>
    </main>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>